body{
  text-align: center;
}
ul>li{
  display: inline;
  padding: 10px;

}
.error{
  color:red;
  font-size:30px;

}
.left{
  float: left;
  width: 60%;
}
.left .email{
  float: right;
}
.right {
  float: right;
  width: 40%;
}
